.mainBlock {
    height: 100vh;
    background-color: #ffc5c5;
}

.text {
    width: 300px;
    background-color: whitesmoke;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
}