@import './src/common/styles/sass/variables';

.nav {
    display: flex;
    width: 350px;
    justify-content: space-between;

    a {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: $textColor;
        text-decoration: none;

        &:hover {
            color: $primaryColor;
            cursor: pointer;
        }
    }
}