.footer {
    background-color: #d2ffc5;
    padding: 50px 0;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.linksBlock {
    width: 280px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
