@import './src/common/styles/sass/variables';

.project {
    width: 500px;
    //background-color: $bgSecondColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    //border-radius: 0 0 6px 6px;

    .image {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 6px solid $primaryColor;
        border-radius: 6px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.2;
        }

        .btn {
            width: 90px;
            height: 40px;
            background-color: $bgSecondColor;
            border: 2px solid $primaryColor;
            border-radius: 35px;
            color: $textColor;
            text-decoration: none;
            line-height: 34px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 500;
            position: relative;
            z-index: 1;

            &:hover {
                background-color: $primaryColor;
                cursor: pointer;
            }
        }
    }

    .project_info {
        padding: 25px 20px 25px 20px;

        .title {
            font-family: 'Poppins', sans-serif;
            color: $textColor;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 0;
        }

        .description {
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            color: $textColor;
            font-weight: 500;
            line-height: 1.6;
        }
    }
}




